name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize


jobs:
  test:
    runs-on:
      - ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build Containers
        run: docker compose build
      - name: Run tests
        run: |-
          docker compose up --detach
          docker compose exec -e FLASK_APP=main application flask db upgrade
          docker compose exec -T application sh -c "mypy --config-file mypy.ini ."
          docker compose exec -T application sh -c "python -m black --check ."
          docker compose exec application python -m unittest
